{% extends "base.html" %}

{% block content %}
    <div class="ForgetPassword">
        <h1>Создать Группу</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p style="margin-bottom: 0;">
                {{ form.title.label }}<br>
                {{ form.title(size=32) }}<br>
                {{ form.statement.label }}<br>
                {{ form.statement(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}