{% extends "base.html" %}

{% block content %}
<body>
    <div class="container">
        <h2>Группы</h2>
        <section>
            {% if not current_user.is_anonymous %}
                {% if user_groups %}
                    <h2>Ваши группы</h2>
                    <div class="group-list">
                        {% for group in user_groups %}
                            <div class="group-card">
                                <h3>{{ group.title }}</h3>
                                <a href="{{ url_for('group_detail', group_id=group.id) }}" class="button">Перейти</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Вы не содержитесь ни в одной группе</p>
                {% endif %}
            {% endif %}

        </section>

        <section>
            {% if user_groups %}
                <h2>Другие группы</h2>
            {% endif %}
            {% if groups %}
                <div class="group-list">
                    {% for group in groups %}
                        <div class="group-card">
                            <h3>{{ group.title }}</h3>
                            <a href="{{ url_for('group_detail', group_id=group.id) }}" class="sub" >Посмотреть описание</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Нет доступных групп для присоединения.</p>
            {% endif %}
        </section>
    </div>
</body>
</html>

{% endblock %}