{% extends "base.html" %}

{% block content %}
<body>
    <div class="container">
        {% if not current_user.is_anonymous %}
            <a href="/create_group", id="create_group_button">Создать Группу</a>
        {% endif %}
        {% if current_user.is_anonymous %}
            <h2>Группы:</h2>
        {% endif %}
        <section>
            {% if not current_user.is_anonymous %}
                {% if current_user.get_groups() %}
                    <h2>Ваши группы:</h2>
                    <div class="group-list">
                        {% for group in current_user.get_groups() %}
                            <div class="group-card">
                                <h3>{{ group.title }}</h3>
                                <a href="{{ url_for('groups', id=group.id) }}" class="sub">Перейти</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Вы не содержитесь ни в одной группе</p>
                {% endif %}
            {% endif %}

        </section>

        <section>
            {% if not current_user.is_anonymous %}
                <h2>Другие группы:</h2>
            {% endif %}
            {% if groups %}
                <div class="group-list">
                    {% for group in groups %}
                        {% if not current_user.is_anonymous %}
                            {% if group not in current_user.get_groups() %}
                                <div class="group-card">
                                    <h3>{{ group.title }}</h3>
                                    <a href="{{ url_for('groups', id=group.id) }}" class="sub" >Посмотреть описание</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="group-card">
                                <h3>{{ group.title }}</h3>
                                <a href="{{ url_for('groups', id=group.id) }}" class="sub" >Посмотреть описание</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Нет доступных групп для присоединения.</p>
            {% endif %}
        </section>
    </div>
</body>
</html>

{% endblock %}