{% extends "base.html" %}

{% block content %}
<h2>{{ group.title }}</h2>
<p class="statement">{{ group.statement }}</p>


<div class="statement">
    {% if not current_user.is_anonymous %}
    {% if current_user and group in user.get_groups() %}
    <p>Вы уже состоите в этой группе.</p>
    {% else %}
    <!-- TODO: убрать отсюда form и сделать href -->
    <form method="POST">
        <button type="submit" class="login">Присоединиться</button>
    </form>
    {% endif %}
    {% endif %}
    <a href="{{ url_for('groups') }}" class="sub">Назад к группам</a>
</div>

{% endblock %}