{% extends "base.html" %}

{% block content %}
<h2>{{ group.title }}</h2>
<p class="statement">{{ group.statement }}</p>


<div class="statement">
    {% if not current_user.is_anonymous %}
        {% if user and group in user.groups %}
            <p>Вы уже состоите в этой группе.</p>
        {% else %}
            <form method="POST">
                <button type="submit" class="login">Присоединиться</button>
            </form>
        {% endif %}
    {% endif %}

    <a href="{{ url_for('groups') }}" class="sub">Назад к группам</a>
</div>

{% endblock %}