{% extends "base.html" %}

{% block content %}

<h2>Профиль:</h2>
<div id="profile">
    {{ current_user.id }}
    {{ current_user.username }}
    {{ current_user.get_groups() }}

    <br>
    {{ current_user.email }}
    <h3>Ваши группы:</h3>
    <p>
        <!--        TODO: Сделать дизайн для групп-->
        {% for group in current_user.get_groups() %}
    <p>
        <a href="{{ url_for('group_detail', group_id=group.id) }}">{{ group.title }}</a>
    </p>
    {% endfor %}
    </p>
</div>

{% endblock %}