{% extends "base.html" %}

{% block content %}
    {% if not id %}
    <h2>Задачи</h2>
    {% for task in tasks %}
<!--    TODO: Вынести в отдельный template, как _task-->
    <a href="\tasks\{{task.id}}" id="tasks">
        <div class="task">
            <div class="task_id">
               {{ task.id }}
            </div>
            <div class="task_status">
                ◯
            </div>
            <div>
                <div class="task_title">
                    {{ task.title }}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
        {% include '_task.html' %}
    {% endif %}
{% endblock %}